@import '../../theme/theme.scss';
.text-button {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to top right, $primary-green, $primary-blue);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 18px;
  font-weight: 900;
  &:hover {
    opacity: 0.9;
  }
}
