@import './../../theme/theme.scss';

.home-screen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;

  .centered-component {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -90px;

    .title-container {
      font-family: 'Playfair Display', serif;
      font-size: 60px;
      font-weight: bolder;
      margin-bottom: 40px;
      color: $text-gray;
      width: 550px;
      line-height: 70px;

      .green-highlight {
        color: $text-green;
      }
    }

    .search-container {
      display: grid;
      grid-template-columns: 2fr 3fr 0.5fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      .ingredients-tags {
        max-width: calc(100%);
      }
      .product-search-container,
      .ingredient-search-container {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .ingredient-search-container {
        flex: 2;
      }
      .search-button-container {
        display: flex;
        align-items: flex-end;

        .inner-search-button-container {
          padding-bottom: 6px;
          display: flex;
          align-items: center;
          height: 60%;
          flex: 1;

          .search-button {
            display: flex;
            flex: 1;
            height: 90%;
          }
        }
      }
    }
  }
}
