.star-rating {
    display: flex;
    align-items: center;
  
    .stars {
      margin-right: 5px;
      .star {
        color: rgb(184, 184, 184);
        font-size: 24px;
        &.full-star {
          color: gold;
        }
        &.half-star {
          color: gold;
          
        }
      }
    }
  
    .rating-text {
      font-size: 16px;
    }
  }
  