.star-rating {
  display: flex;
  align-items: center;

  .stars {
    margin-right: 5px;
    display: flex;
    flex-direction: row;

    .star {
      color: rgb(184, 184, 184);

      &.full-star, &.half-star {
        color: gold;
      }
    }
  }

  .rating-text {
    font-size: 80%;
  }
}
