.star-rating {
  display: flex;
  align-items: center;

  .stars {
    margin-right: 5px;
    .star {
      color: rgb(184, 184, 184);

      &.full-star {
        color: gold;
      }
      &.half-star {
        color: gold;
      }
    }
  }

  .rating-text {
    font-size: 60%;
  }
}
