.product-details-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  flex: 1;

  .card-wrapper {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-content-container {
    padding: 35px;
    display: flex;
    flex-direction: column;
    width: 1000px;
    flex: 1;

    .sections-card-container {
      padding-top: 30px;
      flex: 1;
      display: flex;

      .sections-card-content-container {
        display: flex;
        flex: 1;
        width: 100%;
        padding: 0 20px;
        font-family: 'Playfair Display', serif;

        .tab-panels {
          display: flex;
          flex: 1;
          flex-direction: column;
          height: calc(100% - 60px);
          width: 100%;
          font-family: 'Inter', sans-serif;

        
          .ingredients-list {
            justify-content: left;
            font-size: 18px;
            flex: 1;
            width: 100%;
          }

          li {
            list-style: none;
            text-align: left;
          }
          
          .opinions-list {
            justify-content: left;
            width: calc(100% - 30px);
          }
          p {
            text-align: left;
          }
        }
      }
    }
  }
}
