.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  position: relative;

  .logo-container {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: 50px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .right-control-container {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;

    .registration-login-container {
      display: flex;
      flex-direction: row;

      .button-container {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    // .profile-button-container {
    //   height: 20px;
    // }
  }
}
