.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-height: 100%;

  .form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
  }
}

.email-container,
.password-container,
.username-container,
.displayname-container {
  padding-bottom: 20px;
}