@import './theme/theme.scss';
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top right, #eeffd8, #e4f1ff);
}

.screen {
  display: flex;
  flex: 1;
  max-height: 100%;
  color: $text-gray;
  font-family: 'Inter', sans-serif;
}
