.product-list-page {
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex: 1;
  .loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  }
  .scrollbar-container {
    width: 70%;
    flex: 10;
  }
  .filters-container {
    flex: 3;
    padding: 20px;
    background-color: 'rgba(229, 244, 255, 0.42)';

    .search-container {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .search-button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
    }
  }

  .product-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;

    li {
      list-style: none;
    }

    .product {
      width: calc(50% - 20px);
    }
  }
}
